@font-face {
	font-family: "IRANSans";
	src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "IRANSans";
}

html {
	background-color: rgb(238, 238, 238);
	scroll-behavior: smooth;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

p {
	color: rgb(31, 41, 55);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 8px;
}