@font-face {
	font-family: "IRANSans";
	src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "IRANSans";
}

html {
	background-color: rgb(238, 238, 238);
	scroll-behavior: smooth;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

p {
	color: rgb(31, 41, 55);
}

select {
	background: url("https://api.iconify.design/ic:sharp-arrow-drop-down.svg") no-repeat;
	background-position: calc(100% - 0.75rem) center !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	padding-right: 2rem !important;
	font-size: 0.7rem;
	margin-top: 0.1rem;
	height: 100%;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 8px;
}